#chatbox_container_outer {
	height: 650px;
	width: 100%;
}

#chatbox_container_inner {
	width: 18em;
	height: 400px;
	padding: 5%;
	position: relative;
	overflow: auto
}

#chat_presets {
	position:absolute;
	bottom:0;
	padding-bottom: 2%;
}

#preset_btn {
	width: 100%;
}

#row1 {
	padding-top: 10px
}